.build-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.build-control button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #aa6817;
  cursor: pointer;
  outline: none;
}

.build-control__label {
  min-width: 100px;
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 1px #000;
}

.build-control__less {
  background: #f31111;
}

.build-control__more {
  background: #f38011;
}

.build-control button[disabled] {
  pointer-events: none;
  opacity: 0.6;
}
