.navigation-item {
  display: block;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.navigation-item a {
  display: block;
  width: 100%;
  color: #8f5c2c;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease-in 0s;
}

.navigation-item a:hover,
.navigation-item a:active,
.navigation-item a.active {
  color: #40a4c8;
}

@media (min-width: 500px) {
  .navigation-item {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    margin: 0;
  }

  .navigation-item a {
    display: block;
    height: 100%;
    padding: 16px 10px;
    color: #ffffff;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s ease-in 0s;
  }

  .navigation-item a:hover,
  .navigation-item a:active,
  .navigation-item a.active {
    color: #ffffff;
    background: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
  }
}
